html {
    background-color: #BADBF2;
    font-family: 'Roboto', sans-serif;
    color: #001C55;
  }

  a, a:focus, a:active {
    color: inherit;
    text-decoration: none;
  }

  a:hover, a:visited {
    color: #D65108;
  }

  table, th, td, button, input {
    border: 1px solid #001C55;
    background-color: #F8FBEF;

  }

  table, th, td {
    border-collapse: collapse;
    text-align: center;
    padding: 14px;
  }

  table{
    width: 80%;
    margin-bottom: 15px;
  }

  button, input {
    padding: 7px;
    border-radius: 10px;
    outline: none;
    box-shadow: none;
    color: #001C55;
  }

  th, button:hover {
    background-color:  #E3EFBD;
  }

  #searchBar {
    width: 72%;
    margin: 10px;
  }

  .directionButton {
    margin: 5px;
  }

  .center {
    margin-left:auto;
    margin-right:auto;
  }
