html {
    background-color: #7395AE;
  }

  a, a:hover, a:focus, a:active, a:visited{
    color: inherit;
    text-decoration: none;
  }

  table, th, td {
    border: 1px solid #5D5C61;
    border-collapse: collapse;
    text-align: center;
    padding: 15px;
  }
  table{
    width: 80%;
  }

  #searchBar {
    width: 70%;
    margin: 15px;
  }
